{% extends "ProyectoExtensionBundle::layout.html.twig" %}

{% block title %}Extensiones{% endblock %}

{% block body %}
<h1>Listado de Extensiones</h1>

<ul id="menu">
    <li>
        <a href="{{ path('extension_new') }}">
            Crear una Extension
        </a>
    </li>
</ul>
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Proyecto</th>
            <th>Lugar</th>
            <th>Periodo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('extension_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.proyecto }}</td>
            <td>{{ entity.lugar }}</td>
             <td>{{ entity.periodo }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('extension_show', { 'id': entity.id }) }}">mostrar</a>
                    </li>
                    <li>
                        <a href="{{ path('extension_edit', { 'id': entity.id }) }}">editar</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
