<h1>Extension list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Proyecto</th>
            <th>Lugar</th>
            <th>Periodo</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('extension_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.proyecto }}</td>
            <td>{{ entity.lugar }}</td>
             <td>{{ entity.periodo }}</td>
            <td>
                <ul>
                    <li>
                        <a href="{{ path('extension_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('extension_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('extension_new') }}">
            Create a new entry
        </a>
    </li>
</ul>
