{% extends "ProyectoExtensionBundle::layout.html.twig" %}

{% block title %}Periodos{% endblock %}

{% block body %}
<h1>Periodo</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Fecha Inicio</th>
            <td>{{ entity.fechaDesde|date('d-m-Y') }}</td>
        </tr>
        <tr>
            <th>Fecha Fin</th>
            <td>{{ entity.fechaHasta|date('d-m-Y') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('periodo') }}">
            Volver al listado
        </a>
    </li>
    <li>
        <a href="{{ path('periodo_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('periodo_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Borrar</button>
        </form>
    </li>
</ul>
{% endblock %}
