{% extends "ProyectoExtensionBundle::layout.html.twig" %}

{% block title %}Areas{% endblock %}

{% block body %}

<h1>Listado de Areas</h1>
<ul id="menu">
        <li>
            <a href="{{ path('area_new') }}">
                Crear un Area
            </a>
        </li>
    </ul>
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('area_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('area_show', { 'id': entity.id }) }}">mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('area_edit', { 'id': entity.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}