{% extends "ProyectoExtensionBundle::layout.html.twig" %}

{% block title %}Areas{% endblock %}

{% block body %}
    <h1>Area</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">
        <li>
            <a href="{{ path('area') }}">
                Volver al listado
            </a>
        </li>
        <li>
            <a href="{{ path('area_edit', { 'id': entity.id }) }}">
                Editar
            </a>
        </li>
        <li>
            <form action="{{ path('area_delete', { 'id': entity.id }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Borrar</button>
            </form>
        </li>
    </ul>
{% endblock %}
