{% extends "ProyectoExtensionBundle::layout.html.twig" %}

{% block title %}Proyectos{% endblock %}

{% block body %}
<h1>Listado de Proyectos</h1>
<ul id="menu">
    <li>
        <a href="{{ path('proyecto_new') }}">
            Crear un Proyecto
        </a>
    </li>        
    <li><a href="{{ path('proyecto_mapFilter') }}">Filtrar Extensiones</a></li>
</ul>
<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Link</th>            
            <th>Area</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
            <tr>
                <td><a href="{{ path('proyecto_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.nombre }}</td>
                <td><a href="{{ entity.link }}">{{ entity.link }}</a></td>               
                <td>{{ entity.area }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('proyecto_show', { 'id': entity.id }) }}">mostrar</a>
                        </li>
                        <li>
                            <a href="{{ path('proyecto_edit', { 'id': entity.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
